<div class="header-content-container">
    <div class="header-content-wrapper">
        <div class="header-content-title">
            @if(title()) {
                <h1 class="primary-title">{{title()}}</h1>
                <p>{{description()}}</p>
            }
        </div>
        
        <div class="header-content-buttons">
            @if(buttonLabel()) {
                <app-button
                [labelButton]="buttonLabel()"
                (clicked)="click($event)"
                [buttonType]="buttonType()"
                [routerLink]="routerLink()"
                [icon]="icon() ?? ''"
                ></app-button>
            }
            
            @if(exportable()) {
                <app-button
                [labelButton]="'Exportar'"
                (clicked)="click($event)"
                [buttonType]="'outlined'"
                [exportable]="true"
                [icon]="'LucideArrowDownToLine'"
                ></app-button>
            }
        </div>
    </div>
</div>
