.header-content-container{ 
    width: 100%;
}

.header-content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.header-content-title {
    color: var(--palette-gray-700);
    font-size: var(--font-size-lg);  
    
    h1 {
      font-weight: bolder;
      color: var(--dark-color-background);
      font-size: var(--font-size-3xl);  
    }
}

.header-content-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
