<nav class="menu-container text-sm">
    @if(this.Items.length > 0) {
        @for(item of Items; track item.path) {
            @if(item.name && !this.closedMenu()) {
                <p class="title-menu">{{item.name}}</p>

            }
            <a [routerLink]="item.path"
                routerLinkActive="active" class="item-menu"
                [class.center]="this.closedMenu()"
                >
                <lucide-icon class="icon-md" [img]="item.icon"></lucide-icon>

                @if(!this.closedMenu()) {
                    <span class="text-sm" [class.center]="this.closedMenu()">{{item.label}}</span>
                }
            </a>

        }
    }
</nav>