@if(this.menuItems()) {
    <nav class="menu-container text-sm">
        @for(item of this.menuItems(); track item.path) {
            @if(item.name && !this.closedMenu()) {
                <p class="title-menu">{{item.name}}</p>

            }
            <a [routerLink]="item.path"
                routerLinkActive="active" class="item-menu"
                [matTooltip]="item.label"
                [matTooltipDisabled]="!this.closedMenu()"
                [matTooltipPosition]="'right'"
                [class.center]="this.closedMenu()"
                >
                <svg [lucideIcon]="item.icon" class="icon-md"></svg>

                @if(!this.closedMenu()) {
                    <span class="text-sm" [class.center]="this.closedMenu()">{{item.label}}</span>
                }
            </a>

        }
    </nav>
}

@if(this.selectMenuItems()) {
    <nav class="menu-container text-sm select"
    >
        @for(item of this.selectMenuItems(); track item.label) {
            @if(item.profileMail && item.profileName) {
               <div class="header-profile">
                    <p class="profile-name">{{item.profileName}}</p>
                    <p class="profile-mail">{{item.profileMail}}</p>
               </div> 
            }
        <a [routerLink]="item.path"
            class="item-menu item-select"
            [attr.data-id]="item.label.toLowerCase()"
            >
            <svg class="icon-md" [lucideIcon]="item.icon"
            [attr.data-id]="item.label.toLowerCase()"
            ></svg>

            @if(!this.closedMenu()) {

                <span class="text-sm"
                [attr.data-id]="item.label.toLowerCase()"
                >{{item.label}}</span>
            }
        </a>
    }
    </nav>
}