::ng-deep .mdc-button__label {
    display: flex !important;
    align-items: center;    
    gap: 5px;
    font-weight: bold;
    justify-content: center;
    lucide-icon {
        max-width: 20px !important;
    }
}

.primary-color-button-filled {
    background-color: var(--primary) !important;
    transition: all 0.2s ease !important;

    &:hover {
        background-color: var(--primary-blue-600) !important;
        transition: all 0.2s ease !important;
    }
}

// botão da tabela
.primary-color-button--text {
    color: var(--palette-gray-500) !important;
    display: inline-block !important;

    &:hover{
        background-color: var(--palette-gray-100) !important;
        color: var(--palette-gray-800) !important;
    }
}

::ng-deep .mat-mdc-outlined-button {
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
    
    &:hover {
        transition:
        background-color 0.2s  !important;
        color: var(--palette-gray-100) !important;
        background-color: var(--primary);
    }
    svg {
        max-width: 20px !important;
    }
}
::ng-deep .mat-mdc-outlined-button:hover {
    transition: all 0.3s ease-in-out !important;
}
// botão da tabela

::ng-deep .mat-mdc-button  {
    
    svg {
        max-width: 18px !important;
    }

}