@if(type() === 'text') {
        <mat-label>{{label() ?? ''}}</mat-label>
        <input matInput 
        (input)="onInput($event)"
        [placeholder]="placeholder()" 
        [value]="value"
        [disabled]="disabled"
        [type]="type()"
        >
}
@if(type() === 'email') {
        <mat-label>{{label() ?? ''}}</mat-label>
        <input matInput 
        (input)="onInput($event)"
        [placeholder]="placeholder()" 
        [value]="value"
        [disabled]="disabled"
        [type]="type()"
        >
}
@if(type() === 'tel') {
        <mat-label>{{label() ?? ''}}</mat-label>
        <input matInput 
          (input)="onInput($event)"
        [placeholder]="placeholder()" 
        [value]="value"
        [disabled]="disabled"
        [type]="type()"
        >
}
@if(type() === 'password') {
    <mat-label>{{label() ?? ''}}</mat-label>
    <input matInput 
       (input)="onInput($event)"
        [placeholder]="placeholder()" 
        [value]="value"
        [disabled]="disabled"
        [type]="type()"
    >
}
@if(type() === 'date') {
  <mat-label>{{label()}}</mat-label>
  <input matInput [matDatepicker]="picker"
  [value]="value"
  [disabled]="disabled"
  (dateChange)="onDateChange($event)"
  >
  <mat-hint>{{placeholder() ?? 'dd/mm/aaaa' }}</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
}
