<app-table
[dataSource]="dataSource"
[displayedColumns]="tableColumns"
[actions]="actions"
(actionClick)="actionClick($event)"
>

</app-table>
<app-modal
[type]="'custom'"
(refuseClick)="closeModal($event)"
(confirmClick)="closeModal($event)"
[toggle]="toggleModal"
[title]="'Upload de documento'"
[subtitle]="'clique para selecionar (PDF, JPG, PNG até 5MB)'"
>
<div [formGroup]="formGroup()">

    <p class="notification">* Todos os arquivos devem ter até 5MB de tamanho</p>
    <p class="notification">* O nome do arquivo deve ter no máximo 50 caracteres</p>
    <div class="wrapper-group">
        <app-input-file
        [label]="'CNH'"
        [documentType]="'cnh'"
        formControlName="cnhDocumento"
        >
        </app-input-file>
        <app-input-file
        [label]="'CPF'"
        [documentType]="'cpf'"
        formControlName="cpf"
        >
        </app-input-file>
    </div>
    <div class="wrapper-group">
        <app-input-file
        [label]="'RG'"
        [documentType]="'rg'"
        formControlName="rg"
        >
        </app-input-file>
        <app-input-file
        [label]="'RCT'"
        [documentType]="'rct'"
        formControlName="rct"
        >
        </app-input-file>
    </div>
    <div class="wrapper-group">
        <app-input-file
        [label]="'Alvará'"
        [documentType]="'alvara'"
        formControlName="alvara"
        >
        </app-input-file>
        <app-input-file
        [label]="'CPEST'"
        [documentType]="'cpest'"
        formControlName="cpest"
        >
        </app-input-file>
    </div>
    <div class="wrapper-group">
        <app-input-file
        [label]="'Comprovante de residência'"
        [documentType]="'comprovanteResidencia'"
        formControlName="comprovanteResidencia"
        >
        </app-input-file>
        <app-input-file
        [label]="'Antecedentes criminais'"
        [documentType]="'antecedentesCriminais'"
        formControlName="antecedentesCriminais"
        >
        </app-input-file>
    </div>
        <app-input-file
        [label]="'Foto (1280 × 720)'"
        [required]="true"
        [accept]="'image/png, image/jpeg'"
        [documentType]="'foto'"
        formControlName="foto"
        >
        </app-input-file>

</div>
</app-modal>

