.wrapper-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    app-input, app-input-select {
        flex: 1;
    }
}

.form-button {
    display: flex;
    margin: 10px 0;
    justify-content: end;
    gap: 10px;
    width: 100%;
}
