<div [formGroup]="formGroup()">
    <div class="wrapper-group">
        <app-input
        [label]="'Nome completo'"
        [type]="'text'"
        [required]="true"
        [placeholder]="'Pedrinho da silva'"
        formControlName="nomeMotorista"
        >
        </app-input>
        <app-input
        [label]="'E-mail'"
        [type]="'text'"
        [required]="true"
        [placeholder]="'email@gmail.com'"
        formControlName="email"
        >
        </app-input>
    </div>
    <div class="wrapper-group">
        <app-input
        [label]="'Nome do pai'"
        [type]="'text'"
        [required]="true"
        [placeholder]="'joao da silva'"
        formControlName="nomePai"
        >
        </app-input>
        <app-input
        [label]="'Nome da mãe'"
        [type]="'text'"
        [required]="true"
        [placeholder]="'maria da silva'"
        formControlName="nomeMae"
        >
        </app-input>
    </div>
    <div class="wrapper-group">
        <app-input
        [label]="'CPF'"
        [type]="'text'"
        [max]="11"
        [min]="11"
        [required]="true"
        [placeholder]="'000.000.000-00'"
        formControlName="cpfMotorista"
        >
        </app-input>
        <app-input
        [label]="'RG'"
        [type]="'text'"
        [required]="true"
        [max]="11"
        [min]="11"
        [placeholder]="'00.000.000-0'"
        formControlName="rgMotorista"
        >
        </app-input>
    </div>
    <div class="wrapper-group">
        <app-input
        [label]="'CNH'"
        [type]="'text'"
        [required]="true"
        [placeholder]="'00000000000'"
        [max]="11"
        [min]="11"
        formControlName="cnhMotorista"
        >
        </app-input>
        <app-input
        [label]="'Data emissão CNH'"
        [type]="'date'"
        [required]="true"
        [placeholder]="'dd/mm/aaaa'"
        formControlName="dataEmissaoCNH"
        >
        </app-input>
        <app-input
        [label]="'Data validade CNH'"
        [type]="'date'"
        [placeholder]="'dd/mm/aaaa'"
        [required]="true"
        formControlName="dataValidadeCNH"
        >
        </app-input>
    </div>
    <div class="wrapper-group">
        <app-input
            [label]="'Nacionalidade'"
            [type]="'text'"
            [required]="true"
            [placeholder]="'Brasileiro'"
            formControlName="nacionalidade"
            >
        </app-input>
        <app-input
            [label]="'Naturalidade'"
            [type]="'text'"
            [required]="true"
            [placeholder]="'São Paulo / SP'"
            formControlName="naturalidade"
            >
        </app-input>
    </div>
    <div class="wrapper-group">
        <app-input
            [label]="'Estado civil'"
            [type]="'text'"
            [required]="true"
            [placeholder]="'Brasileiro'"
            formControlName="estadoCivil"
            >
        </app-input>
        <app-input
            [label]="'Escolaridade'"
            [type]="'text'"
            [placeholder]="'Ensino médio(Completo)'"
            [required]="true"
            formControlName="escolaridade"
            >
        </app-input>
        <app-input-select
        [required]="true"
        [label]="'Escolaridade'"
        [selectSource]="escolaridadeDataSource"
        ></app-input-select>
    </div>
    <div class="wrapper-group">
        <app-input
            [label]="'Telefone'"
            [type]="'tel'"
            [required]="true"
            [placeholder]="'(13) 9999-9999'"
            formControlName="telMotorista"
            >
        </app-input>
        <app-input
            [label]="'Celular'"
            [type]="'tel'"
            [required]="true"
            [placeholder]="'(13) 99999-9999'"
            formControlName="celMotorista"
            >
        </app-input>
    </div>

</div>
