<app-card-form-block
[title]="mode === 'edit' ? 'Editar banimento' : 'Novo banimento'"
[description]="'Esta ação impede novos cadastros desta pessoa.'"
[style]="'danger'"
[icon]="'LucideUserMinus'"
>
<form [formGroup]="form">
    <div class="wrapper-group">
        <app-input
            [label]="'Nome Motorista/Proprietário'"
            [type]="'text'"
            [placeholder]="'Jorge'"
            [required]="true"
            [formControlName]="'nome'"
            >
        </app-input>
    </div>
    <div class="wrapper-group">
        <app-input
        [label]="'Data do banimento'"
        [type]="'date'"
        [required]="true"
        [placeholder]="'dd/mm/aaaa'"
        formControlName="dataBanimento"
        ></app-input>
        <app-input
            [label]="'CPF (sem dígitos)'"
            [type]="'text'"
            [placeholder]="'000.000.000-00'"
            [required]="true"
            [mask]="'000.000.000-00'"
            formControlName="cpf"
            >
        </app-input>
        <app-input
            [label]="'RG (sem dígitos)'"
            [type]="'text'"
            [placeholder]="'00.000.000-00'"
            [required]="true"
            [mask]="'00.000.000-0'"
            formControlName="rg"
            >
        </app-input>
    </div>

    <div class="wrapper-group">
        <app-textarea
        [label]="'Motivo do banimento'"
        [placeholder]="'Descreva detalhadamente o motivo do banimento...'"
        [required]="true"
        [rows]="6"
        [maxlength]="1500"
        [showCharCount]="true"
        formControlName="motivoBanimento"
        >

        </app-textarea>
    </div>

</form>
<div class="form-button">
    @if (mode !== 'view') {
            <app-button
            [labelButton]="mode === 'edit' ? 'Editar' : 'Salvar'"
            [buttonType]="'filled'"
            [tooltip]="this.form.invalid ? 'Preencha o formulário': ''"
            [disabled]="this.form.invalid"
            (clicked)="onSubmit($event)"
            >
            </app-button>
    }
        <app-button
            [labelButton]="'Cancelar'"
            [buttonType]="'filled'"
            [color]="'neutral'"
            (clicked)="goBack()"
            >
        </app-button>
    </div>

</app-card-form-block>
