app-card:nth-of-type(even) {
    max-width: 40%;
    min-width: 700px;
}
app-card:nth-of-type(odd) {
    max-width: 100%;
    min-width: 700px;
}
.container-cards-info {
    width: 100%;
    display: flex;
    gap: 15px;

}