<header class="topbar-container">
    <div class="profile"
    >
        <div class="image-user">
            <svg [lucideIcon]="this.icons.User"></svg>
        </div>
        <div class="profile-info">
            <p class="profile-info-name text-sm">Nome generico</p>
            <p class="profile-info-cargo text-sm">cargo</p>
        </div>
        <svg [lucideIcon]="this.icons.ChevronDown"></svg>
        
        <div class="profile-nav-container"
        [class.opened]="!this.isClosedMenu"
        >
            <app-menu-items
            [selectMenuItems]="menuItems"
            ></app-menu-items>
        </div>
    </div>
</header>
