<div class="form-wrapper">
    @if(label()) {
        <label>{{label() ?? ''}} <span>{{required() ? '*' : ''}}</span></label> 

    }
    <mat-form-field  appearance="outline">
      <mat-select [required]="required()" panelClass="custom-panel">
        @if(selectSource().data?.length) {
            @for (item of selectSource().data; track item.id) {
              <mat-option [matTooltip]="item.value" [matTooltipPosition]="'right'" [value]="item.id">{{item.value}}</mat-option>
            }
        }
      </mat-select>
    </mat-form-field>
</div>