.wrapper-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    app-input, app-input-select, div {
        flex: 1;
    }
}

.container-table {
    overflow: hidden;
    width: 100%;
    border-radius: var(--radius-xl);
}
