<article class="card card-info">
    <div [class]="'icon icon--' + typeIconStatus()" 
    >
        @if(icon()) {
            <svg [lucideIcon]="icons[icon()!]"></svg>
        }
    </div>
    <div class="info-title-container">
        <h2>{{title()}}</h2>
        <p>{{description()}}</p>
    </div>
    <div class="info-stats">
        @if(statsIcon()) {
            <div class="icon">
                <svg [lucideIcon]="icons[statsIcon()!]"></svg>
            </div>
        }
        <p>{{stats()}}</p>
    </div>
</article>
