.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 100%;

}

.container-table {
    display: flex;
    align-items: start;
    min-width: 1000px;
    flex-wrap: wrap;
    gap: 20px;

}
app-card:nth-of-type(even) {
    max-width: 40%;
    min-width: 700px;
}
app-card:nth-of-type(odd) {
    max-width: 100%;
    min-width: 700px;
}
.container-cards-info {
    width: 100%;
    display: flex;
    gap: 15px;

}

.container-table {
    width: 100%;
}