<app-card>
    <app-form-tabs
    [tabs]="tabs"
    (clicked)="selectedTab($event)"
    ></app-form-tabs>

    <div [hidden]="this.activeTab !== 'dados_pessoais'">
        <p>Dados pessoais</p>
    </div>
    <div [hidden]="this.activeTab !== 'endereco'">
        <p>Endereco</p>
    </div>
    <div [hidden]="this.activeTab !== 'dados_profissionais'">
        <p>Dados profissionais</p>
    </div>
    <div [hidden]="this.activeTab !== 'documentos'">
        <p>Documentos</p>
    </div>
</app-card>